<!DOCTYPE html>
<html lang="en" >

<head>
  {% load static %}
  <meta charset="UTF-8">
  <title>FMC</title>
  <!-- Google font -->
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<!-- Social icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  
      <link rel="stylesheet" href="{% static 'css/rstyle.css' %}">

  
</head>

<body>

  <!-- Contact Card ~ #01 -->
<div class="card c_01">
   <div class="card_Banner">
		<div class="card_Avatar"></div>
	</div>
	<h3><a href="#">Campus Ambassador</a></h3>
	</div>

<!-- Contact Card ~ #02 -->
<div class="card c_02">
   <div class="card_Banner">
		<div class="card_Avatar"></div>
	</div>
	<h3><a href="{% url 'price' %}"> Team Registration</a></h3>
	
	 
</div>



 <script  src="{% static 'js/rindex.js' %}"></script>




</body>

</html>
